body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  padding: 30px; }

body > *:first-child {
  margin-top: 0 !important; }
body > *:last-child {
  margin-bottom: 0 !important; }

a {
  color: #4183C4; }
a:link {
    text-decoration: none; }
a:visited {
    text-decoration: none; }
a:hover {
    text-decoration: underline; }    
a.absent {
  color: #cc0000; }
a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  background: url("images/para.png") no-repeat 10px center;
  text-decoration: none; }

h1 tt, h1 code {
  font-size: inherit;
  color: white; }

h2 tt, h2 code {
  font-size: inherit;   
  color: white; }

h3 tt, h3 code {
  font-size: inherit;   
  color: white; }

h4 tt, h4 code {
  font-size: inherit;   
  color: white; }

h5 tt, h5 code {
  font-size: inherit;   
  color: white; }

h6 tt, h6 code {
  font-size: inherit;   
  color: white; }

h1 {
  font-size: 28px;
  color: white; }

h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: white; }

h3 {
  font-size: 18px; 
  color: white; }

h4 {
  font-size: 16px; 
  color: white; }

h5 {
  font-size: 14px; 
  color: white; }

h6 {
  color: #777777;
  font-size: 14px; 

p, blockquote, ul, ol, dl, li, /*table,*/ pre {
  margin: 10px 0;
  color: white;  }

hr {
  background: transparent url("../images/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #000000;
  height: 4px;
  padding: 0; }

body > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
body > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0; }

li p.first {
  display: inline-block; }

ul, ol {
  padding-left: 30px; }
  
ul li {
	background: url(images/right_arrow.png) no-repeat left;
	list-style: none;
	padding: 0px 0px 0px 20px;
}

ul :first-child, ol :first-child {
  margin-top: 0; }

ul :last-child, ol :last-child {
  margin-bottom: 0; }

dl {
  padding: 0; }
  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }

/*
table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
*/

table {
  font-weight: bold;
  text-align: left;
  font-size: 10px;
	font: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}


img {
  max-width: 100%; }

span.frame {
  display: block;
  overflow: hidden; }
  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  span.frame span img {
    display: block;
    float: left; }
  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  span.align-center span img {
    margin: 0 auto;
    text-align: center; }
span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  span.align-right span img {
    margin: 0;
    text-align: right; }
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  span.float-left span {
    margin: 13px 0 0; }
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
    background-color: transparent;
    border: none; }
 
/* Interface stylesheet for Javascript ROOT Web Page. */

/*
* { padding: 0; margin: 0; }
* html, body { height: 100%; }

body, textarea {
   font-family: "lucida sans", verdana, arial, helvetica, sans-serif;
   font-size: 80%;
}

h1 { font-size: 20pt }
h2 { font-size: 18pt; font-weight:bold; color: navy }
h3 { font-size: 16pt; font-weight:bold; color: #483d8b }
h4 { font-size: 14pt; font-weight:bold; color:#C71585; margin-bottom:2px; margin-top:8px; }
h5 { font-size: 10pt; font-weight:bold; color:#6495ED; margin-bottom:2px; }
h6 { font-size: 10pt; font-weight:bold; color:navy }

body {
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}

textarea { font-size: 100%;}

p { margin-top: 6px; padding: 0 10px 1em; }

#main { left: 3px; right: 66%; overflow: auto; }

#status { font-size:70%; }
#report { height:auto; }

.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }

.ui-accordion { 
   width: 100%; margin-right: 15px;
}
.ui-accordion-header {
   background-color: #c0c8ff;
   border: 1px solid #aaaaaa;
   color: #7a7a7a;
   cursor: pointer;
   margin-top: 2px;
   padding-left:3px;
   padding-top:3px;
   padding-bottom:3px;
   position: relative;
   text-align:center;
}
.ui-accordion-header-active { 
   border-bottom: 0;
}
.ui-accordion-icons .ui-accordion-header a { 
   padding-left: 2.2em; 
}
.ui-accordion .ui-accordion-header .ui-icon { 
   left: .5em; 
   margin-top: -8px; 
   position: absolute; 
   top: 50%; 
}
.ui-accordion .ui-accordion-content {
   border: 1px solid #aaaaaa;
   border-top: 0;
   margin-top: -2px; 
   margin-bottom: 2px;
   overflow:hidden;
   padding: 3px 0px 3px 0px;
}
.ui-state-active { 
   background: #ffffff;
   border-bottom: 0;
   color: #3a3a3a;
}
.ui-accordion-content-active {
   background-color: #ffffff;
}

button.closeButton {
   margin-top: -3px; 
   margin-right: 2px; 
   float: right;
}

*/

.clearBoth { clear: both; }

div.column {
   display: inline-block;
   vertical-align:top;
   overflow: auto;
   width: 48%;
   border: 1px dotted #919191;
   background-color: #F0F0F0;
   padding: 8px 8px 0px 8px;
}

div.columnClear {
   display: inline-block;
   vertical-align:top;
   overflow: auto;
   width: 48%;
   padding: 8px 8px 0px 8px;
}

.histogram {
   border-style: solid;
   border-width: 1px;
   margin-bottom: 8px;
}

.basic div {
   background-color: #eee;
}


#overlay {
   z-index:1000;
   position:absolute;
   border: 1px solid #7777ff;
   bottom:1px;
   left:3px;
   background:#ddddff;
   opacity:0.6;
   -moz-opacity:0.6;
}

/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landrö               |
|--------------------------------------------------*/
/*
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}
*/
/*--------------------------------------------------|
| tooltip style                                     |
|--------------------------------------------------*/

#tt {
   position:absolute;
   display:block;
}
#tttop {
   display:block;
   height:5px;
   margin-left:5px;
   overflow:hidden;
}
#ttcont {
   display:block;
   padding:2px 12px 3px 7px;
   margin-left:5px;
   font-size: 11px;
   background:#777;
   color:#fff;
}
#ttbot {
   display:block;
   height:5px;
   margin-left:5px;
   overflow:hidden;
}

 
/* Tim M bits */

.rarrow { 
  font-size:30px;
  padding: 0px 10px 0px 10px;
}

.err {
  padding: 5px;
  width: 600px;
  margin: 2px;
  color:   #660000;
  border: 1px solid #660000;
  background-color: #FEF1ED;
  font: bold 13px verdana;
}  


.subtitle{
  font-weight:normal;
  color:#545454;
  font-size:12px;
  text-align:left;
  margin:0px;
  padding-left:3px;
}
.subtitle a{
  font-size:12px;
}

.processing{
  font-weight:bold;
  color:#FF0000;
}

.blueText{
  font-weight:bold;
  color:#0000FF;
}

.largerInput {
  width: 300px;
}

.codePara {
  font-size: inherit;
  font-family: "Lucida Console", Monaco, monospace;
}

.codeParaSmall {
  font-size: 8px;
  font-family: "Lucida Console", Monaco, monospace;
}


/* Display item tables http://www.csstablegenerator.com */
.resultDisplay {
	padding:0px;
	width:100%;
	/*table-layout: auto;*/
	/*margin-left: 0px;
  margin-right: auto;*/
	/*box-shadow: 10px 10px 5px #888888;*/
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.resultDisplay table{
    border-collapse: collapse;
        border-spacing: 0;
	/*table-layout: inherit;*/
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.resultDisplay tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.resultDisplay table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.resultDisplay table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.resultDisplay tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.resultDisplay tr:hover td{

}
.resultDisplay tr:nth-child(odd){ background-color:#e5e5e5; }
.resultDisplay tr:nth-child(even){ background-color:#ffffff; }.resultDisplay td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:normal;
	color:#000000;
}.resultDisplay tr:last-child td{
	border-width:0px 1px 0px 0px;
}.resultDisplay tr td:last-child{
	border-width:0px 0px 1px 0px;
}.resultDisplay tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.resultDisplay tr:first-child td{
	background:-o-linear-gradient(bottom, #666666 5%, #4c4c4c 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #4c4c4c) );
	background:-moz-linear-gradient( center top, #666666 5%, #4c4c4c 100% );
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#4c4c4c");*/
	background: -o-linear-gradient(top,#666666,#4c4c4c);
	background-color:#666666;
	border:0px solid #000000;
	/* text-align:center; header line */
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:bold;
	color:#ffffff;
}
.resultDisplay tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #666666 5%, #4c4c4c 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #4c4c4c) );
	background:-moz-linear-gradient( center top, #666666 5%, #4c4c4c 100% );
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#4c4c4c");	background: -o-linear-gradient(top,#666666,#4c4c4c);*/
	background-color:#666666;
}
.resultDisplay tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.resultDisplay tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.resultDisplay td.rightText {
	text-align:right;
	font-weight:bold;
}
.resultDisplay td.centerText {
	text-align:center;
}
/* End display item tables */


